* {
  padding: 0;
  margin: 0;
  /* font-family: sans-serif; */
  /* background-color: black; */
}

@font-face {
  font-family: "Raspberie";
  src: url("fonts/Raspberie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Light";
  src: url("fonts/Gotham-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SaintCarell";
  src: url("fonts/SaintCarell.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff6ea;
}

#background {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#co-background {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* Navbar */
#navbar {
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

#logo {
  width: 60px;
  height: 60px;
}

#header-button {
}

#header-button ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

#header-button ul li {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  display: inline;
  cursor: pointer;
}

#header-button ul li a {
  text-decoration: none;
  color: #533635; /* Change to your desired color */
  /* font-weight: bold; */
  font-family: "Raspberie", serif;
  padding: 10px 20px;
  border: 2px solid transparent;
  transition: border 0.3s;
}

#header-button ul li a:hover {
  border-bottom: 2px solid #533635; /* Change to your desired color */
}

/* Content */
#content {
  margin: 0 auto;
  padding: 25px 0;
  width: 100%;
}

#co-content {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#bg-content {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  display: flex;
}

#content-image {
  margin: 0 auto;
  padding: 0;
  width: 40%;
  height: 300px;
  /* border: solid; */
  overflow: hidden;
}

#content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#tentang-brand {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  height: 300px;
  /* border: solid; */
}

#subheader-tentang-brand {
  font-size: 30px;
  font-weight: bold;
  padding: 0 0 30px 20px;
  font-family: "Raspberie", serif;
  color: #533635; /* Change to your desired color */
}

#text-tentang-brand {
  padding: 0 20px 30px 20px;
  text-align: justify;
  font-family: "Gotham-Light", serif;
  font-weight: bold;
}

#visi-misi {
  font-size: 30px;
  font-weight: bold;
  padding: 55px 0 30px 20px;
  font-family: "Raspberie", serif;
  color: #533635; /* Change to your desired color */
}

#bgtext {
  margin: 0 auto;
  padding: 10px 0;
  width: 80%;
  height: 140px;
}

#text {
  padding: 20px 20px 30px 0;
  text-align: center;
  font-family: "Gotham-Light", serif;
  font-weight: bold;
}

/* Footer */
#bg-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #533635;
}

#footer {
  margin: 0 auto;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: left;
}

#footer-button ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

#footer-button ul li {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  display: inline;
}

#footer-button ul li a {
  text-decoration: none;
  color: #fff6ea; /* Change to your desired color */
  /* font-weight: bold; */
  font-family: "Raspberie", serif;
  padding: 10px 20px;
  border: 2px solid transparent;
  transition: border 0.3s;
}

#footer-button ul li a:hover {
  border-bottom: 2px solid #fff6ea; /* Change to your desired color */
}
